In [1]:
# Importing pandas and numoy
import pandas as pd 
import numpy as np

In [2]:
# Reading csv file
df = pd.read_csv("O:/Jobs/OKC/Datasets/shots_data.csv")

In [3]:
# Displaying some rows of data set.
df.head(10)

     team     x     y  fgmade
0  Team A -23.1   3.5       0
1  Team A   0.0  25.1       1
2  Team A   0.5   1.0       1
3  Team A  -5.6   5.2       0
4  Team A   4.0  14.5       1
5  Team A -13.6   4.0       1
6  Team A  -9.0   7.2       1
7  Team A  -1.2   1.5       1
8  Team A  -9.2  15.3       0
9  Team A -16.8  20.5       1

In [4]:
# Calculating Radius which is give by formulae :-  r = \sqrt{(x_2 - x_1)^2 + (y_2-y_1)^2}
df["Radius"] = np.sqrt((df['x']**2) + (df['y']**2))

In [5]:
df.head()

     team     x     y  fgmade     Radius
0  Team A -23.1   3.5       0  23.363647
1  Team A   0.0  25.1       1  25.100000
2  Team A   0.5   1.0       1   1.118034
3  Team A  -5.6   5.2       0   7.641989
4  Team A   4.0  14.5       1  15.041609

In [6]:
# Categorising the Zones

def categorise(a,b,c):
    if (abs(b) <= 7.8 and abs(a) > 22):
        return "C3"
    if (abs(b) > 7.8):
        if (abs(c) <= 23.75):
            return '2PT'
        if (abs(c) > 23.75):
            return 'NC3'
    else:
        return "2PT"

In [7]:
df["Category"] = df[["x","y","Radius"]].apply(lambda t: categorise(t[0] , t[1], t[2]) , axis =1)

In [8]:
df['Category']

0       C3
1      NC3
2      2PT
3      2PT
4      2PT
      ...
555    NC3
556    2PT
557    2PT
558     C3
559    2PT
Name: Category, Length: 560, dtype: object

In [9]:
df.head(10)

     team     x     y  fgmade     Radius Category
0  Team A -23.1   3.5       0  23.363647       C3
1  Team A   0.0  25.1       1  25.100000      NC3
2  Team A   0.5   1.0       1   1.118034      2PT
3  Team A  -5.6   5.2       0   7.641989      2PT
4  Team A   4.0  14.5       1  15.041609      2PT
5  Team A -13.6   4.0       1  14.176036      2PT
6  Team A  -9.0   7.2       1  11.525624      2PT
7  Team A  -1.2   1.5       1   1.920937      2PT
8  Team A  -9.2  15.3       0  17.853011      2PT
9  Team A -16.8  20.5       1  26.504528      NC3

In [10]:
# Grouping according team and category for calculating shot distribution. 

df1 = df.groupby(['team','Category']).count()

In [11]:
df1

                   x    y  fgmade  Radius
team   Category
Team A 2PT       170  170     170     170
       C3         20   20      20      20
       NC3        90   90      90      90
Team B 2PT       163  163     163     163
       C3         21   21      21      21
       NC3        96   96      96      96

In [12]:
Team_A = df1.xs('Team A')
Team_B = df1.xs('Team B')

###### Short Distribution 2PT

In [13]:
distribution_2PT = df1.xs('2PT',level='Category')

In [14]:
distribution_2PT

          x    y  fgmade  Radius
team
Team A  170  170     170     170
Team B  163  163     163     163

In [23]:
distribution_2PT['Short_distribution_%'] = distribution_2PT.iloc[: , 3: ]\
                                        .apply(lambda z : 100*z / (distribution_2PT.iloc[: , 3: ].sum()) , axis = 1 )

<ipython-input-23-758ce81cf337>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  distribution_2PT['Short_distribution_%'] = distribution_2PT.iloc[: , 3: ]\

In [24]:
distribution_2PT

# Shot distribution for Team A  :- 51.051
# Shot distribution for Team B :- 58.94

          x    y  fgmade  Radius  Short_distribution_%
team
Team A  170  170     170     170             51.051051
Team B  163  163     163     163             48.948949

###### Short Distribution C3

In [25]:
distribution_C3 = df1.xs('C3',level='Category')

In [26]:
distribution_C3

         x   y  fgmade  Radius
team
Team A  20  20      20      20
Team B  21  21      21      21

In [28]:
distribution_C3['Short_distribution_%'] = distribution_C3.iloc[: , 3: ]\
                                        .apply(lambda z : 100*z / (distribution_C3.iloc[: , 3: ].sum()) , axis = 1 )

<ipython-input-28-28814934e937>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  distribution_C3['Short_distribution_%'] = distribution_C3.iloc[: , 3: ]\

In [29]:
distribution_C3

# Shot distribution for Team A  :- 48.7804
# Shot distribution for Team B :- 51.21

         x   y  fgmade  Radius  Short_distribution_%
team
Team A  20  20      20      20             48.780488
Team B  21  21      21      21             51.219512

###### Short Distribution NC3

In [30]:
distribution_NC3 = df1.xs('NC3',level='Category')

In [31]:
distribution_NC3

         x   y  fgmade  Radius
team
Team A  90  90      90      90
Team B  96  96      96      96

In [32]:
distribution_NC3['Short_distribution_%'] = distribution_NC3.iloc[: , 3: ]\
                                        .apply(lambda z : 100*z / (distribution_NC3.iloc[: , 3: ].sum()) , axis = 1 )

<ipython-input-32-ecbe333297a1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  distribution_NC3['Short_distribution_%'] = distribution_NC3.iloc[: , 3: ]\

In [33]:
distribution_NC3

# Shot distribution for Team A  :- 48.387
# Shot distribution for Team B :- 51.612

         x   y  fgmade  Radius  Short_distribution_%
team
Team A  90  90      90      90             48.387097
Team B  96  96      96      96             51.612903

In [ ]:
# Grouping by team, Category and fgmade for %eFG 
df.groupby(['team','Category','fgmade']).count()

#### eFG % TEAM_A (2PT)

In [34]:
df.groupby(['team','Category','fgmade']).count()

                          x    y  Radius
team   Category fgmade
Team A 2PT      0       102  102     102
                1        68   68      68
       C3       0        12   12      12
                1         8    8       8
       NC3      0        61   61      61
                1        29   29      29
Team B 2PT      0        88   88      88
                1        75   75      75
       C3       0        16   16      16
                1         5    5       5
       NC3      0        61   61      61
                1        35   35      35

In [35]:
Team_A_efg = (df.groupby(['team','Category','fgmade']).count()).xs('Team A')

In [39]:
Team_A_efg

                   x    y  Radius
Category fgmade
2PT      0       102  102     102
         1        68   68      68
C3       0        12   12      12
         1         8    8       8
NC3      0        61   61      61
         1        29   29      29

###### FGA

In [99]:
Team_A_2pt_fga = Team_A_efg.xs('2PT')['Radius'].sum()

In [101]:
Team_A_2pt_fga

# FGA for Team A for 2PT zone.

170

###### FGM

In [114]:
Team_A_2pt_fgm = Team_A_efg.xs('2PT')["Radius"].loc[1]

In [115]:
Team_A_2pt_fgm

# FGM for Team A for 2PT zone.

68

###### 3PM

In [140]:
C3_made = Team_A_efg.xs('C3')['Radius'].loc[1]

In [141]:
NC3_made = Team_A_efg.xs('NC3')['Radius'].loc[1]

In [142]:
PM3_A_made = C3_made + NC3_made

In [143]:
PM3_A_made

#3PM made in Team A

37

###### %efg

In [128]:
percent_efg_A_2pt = (Team_A_2pt_fgm + (0.5*PM3_A_made))/Team_A_2pt_fga

In [129]:
percent_efg_A_2pt

# the percenatge is 0.5088

0.5088235294117647

In [76]:
###############################################################

###### eFG % TEAM_A (C3)

###### FGA

In [88]:
a_c3_fga = Team_A_efg.xs('C3')['Radius'].sum()

In [89]:
a_c3_fga

# FGA for Team A for C3 zone.

20

###### FGM

In [86]:
 a_c3_fgm = Team_A_efg.xs('C3')['Radius'].loc[1]

In [87]:
a_c3_fgm

# FGM for Team A for C3 zone.

8

###### % eFg

In [130]:
percent_efg_A_c3 = (a_c3_fgm +(0.5*PM3_A_made))/a_c3_fga

In [131]:
percent_efg_A_c3

# the eFGpercentage is 1.325

1.325

#### eFG % TEAM_A NC3 ZONE

###### FGA

In [92]:
a_nc3_fga = Team_A_efg.xs('NC3')['Radius'].sum()

In [93]:
a_nc3_fga

# FGA for Team A for NC3 zone.

90

###### FGM

In [94]:
 a_nc3_fgm = Team_A_efg.xs('NC3')['Radius'].loc[1]

In [95]:
a_nc3_fgm

# FGM for Team A for NC3 zone.

29

###### % efg

In [132]:
percent_efg_A_nc3 = (a_nc3_fgm +(0.5*PM3_A_made))/a_nc3_fga

In [157]:
percent_efg_A_nc3

#The percentage 0.527

0.5277777777777778

### TEAM B

In [110]:
Team_B_efg = (df.groupby(['team','Category','fgmade']).count()).xs('Team B')

In [111]:
Team_B_efg

                  x   y  Radius
Category fgmade
2PT      0       88  88      88
         1       75  75      75
C3       0       16  16      16
         1        5   5       5
NC3      0       61  61      61
         1       35  35      35

###### 3PM

In [136]:
C3_b_made = Team_B_efg.xs('C3')['Radius'].loc[1]

In [137]:
NC3_b_made = Team_B_efg.xs('NC3')['Radius'].loc[1]

In [138]:
PM3_B_Made = (C3_b_made+NC3_b_made)

In [139]:
PM3_B_Made

#3PM made in Team B

40

#### %ePG TEAM_B 2PT

###### FGA

In [146]:
b_2pt_fga = Team_B_efg.xs('2PT')['Radius'].sum()

In [147]:
b_2pt_fga

# FGA for Team B for 2PT zone.

163

###### FGM

In [148]:
b_2pt_fgm = Team_B_efg.xs('2PT')["Radius"].loc[1]

In [149]:
b_2pt_fgm

# FGM for Team B for 2PT zone.

75

###### %eFG

In [150]:
percent_efg_B_2pt = (b_2pt_fgm + (0.5* PM3_B_Made))/b_2pt_fga

In [151]:
percent_efg_B_2pt

0.5828220858895705

#### %ePG TEAM_B C3

###### FGA

In [152]:
b_c3_fga = Team_B_efg.xs('C3')['Radius'].sum()

In [153]:
b_c3_fga

# FGA for Team B for C3 zone.

21

###### FGM

In [154]:
b_c3_fgm = Team_B_efg.xs('C3')['Radius'].loc[1]

In [155]:
b_c3_fgm

# FGM for Team B for C3 zone.

5

###### % efg

In [158]:
percent_efg_B_c3 = (b_c3_fgm + (0.5*PM3_B_Made))/b_c3_fga

In [159]:
percent_efg_B_c3

1.1904761904761905

#### %ePG TEAM_C NC3

###### FGA

In [172]:
b_nc3_fga = Team_B_efg.xs('NC3')['Radius'].sum()

In [173]:
b_nc3_fga

# FGA for Team B for NC3 zone.

96

###### FGM

In [174]:
b_nc3_fgm = Team_B_efg.xs('NC3')['Radius'].loc[1]

In [175]:
b_nc3_fgm

# FGM for Team B for NC3 zone.

35

###### %ePG

In [176]:
percent_efg_B_nc3 = (b_nc3_fgm + (0.5 * PM3_B_Made))/b_nc3_fga

In [177]:
percent_efg_B_nc3

0.5729166666666666